.fundo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    height: 100vh;
    width: 100vw;
}

* {
    box-sizing: border-box;
    margin: 0px;
}

.losango {
    background-color: yellow;
    border: 10px solid yellow;
    padding: 80px;
    transform: rotate(45deg);
}

.bolazul {
    background-color: lightblue;
    border: 10px solid lightblue;
    border-radius: 1500px;
    padding: 150px;
}