* {
    box-sizing: border-box;
    margin: 0px;
}

.fundo {
    background-color: rgb(73, 73, 73);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.losango {
    border: 10px solid orange;
    padding: 180px;
    background-color: orange;
    transform: rotate(45deg);
    position: absolute;
}

.bola1 {
    border: 0.5px solid red;
    padding: 191px;
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 0, 0, 0.444);
    margin-bottom: 220px;
    border-radius: 1500px;
    margin-right: 220px;
}

.bola2 {
    border: 0.5px solid yellow;
    padding: 191px;
    z-index: 3;
    background-color: rgba(234, 255, 0, 0.444);
    margin-bottom: 220px;
    border-radius: 1500px;
    margin-left: 220px;
    
}