* {
    box-sizing: border-box !important;
    margin: 0px;
}

@font-face {
    font-family: 'font1';
    src: url("../assets/fonts/Gilroy-Bold.390fb1506ba4436b844a0d796d431498.woff2");
}

@font-face {
    font-family: 'font2';
    src: url("../assets/fonts/Gilroy-Bold.woff2");
}

@font-face {
    font-family: 'font3';
    src: url("../assets/fonts/Gilroy-Medium.woff2");
}

@font-face {
    font-family: 'font4';
    src: url("../assets/fonts/Gilroy-Regular.woff2");
}

@font-face {
    font-family: 'font5';
    src: url("../assets/fonts/street-bold.woff2");
}

@font-face {
    font-family: 'font6';
    src: url("../assets/fonts/street.woff2");
}