* {
    box-sizing: border-box;
    margin: 0px;
}

.secao-01 {
    display:flex;
    flex-direction: column;
    background-color: white;
    height: 250px;
}

.s1-cabecalho > img {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-left:20px;
    margin-top: 40px;
}

.s1-cabecalho  {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.s1-a {
    width: 46vw;
    height: 10vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top:5px;
    margin-left: 250px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 45px 'bold';
    font-size:28px;
    line-height: 10px;
    cursor: pointer;
}

.s1-cabecalho input {
    border-radius: 30px;
    padding: 18px;
    width: 250px;
    height: 10px;
    border: 2px solid black;
}

.s1-cabecalho > a > img {
    width: 80px;
    height: 80px;
    margin-top: 60px;
    margin: 10px;
    margin-left: 20px;
}

.s1-cabecalho > a:hover {
    cursor: pointer;
    margin-bottom: 5px;
    transition: 0.2s;
}

.carrinho {
    width: 100px;
    height: 110px;
    margin-top: 40px;
    margin: 15px;
}

.carrinho:hover {
    cursor: pointer;
    margin-bottom: 5px;
    transition: 0.2s;
}

.secao-02 {
    display: flex;
    flex-direction: row;
    background-color: #3E4377;
}

.s2-esquerda {
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
    align-items: center;
}

.terno {
    width: 260px;
    height: 330px;
    margin-top: 80px;
    border-radius: 30px;
}

.s2-esquerda p {
    margin-left: 30px;
    margin-top: 15px;
    color: white;
    font:20px times;
}

.s2-esquerda h2 {
    margin-top: 50px;
    color: white;
    font-family: arial;
    margin-left: -20px;
}

.cartoes {
    width: 350px;
    height: 150px;
    border-radius: 30px;
}

.s2-direita {
    display: flex;
    flex-direction: column;
}

.s2-direita h3 {
    font:24px arial;
    color:white;
    margin-top: 40px;
}

.s2-tamanhos button {
    padding: 10PX;
    background-color: black;
    color:white;
    border-radius: 15px;
}

.s2-tamanhos button:hover {
    background-color: rgb(86,86,86);
    opacity: 80%;
    cursor: pointer;
    transition: 0.3s;
}

.s2-direita > button > img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.s2-direita > button {
    border-radius: 20px;
    color:white;
    font-family: Verdana;
    font:20px medium;
    background-color: rgb(78, 163, 78);
    margin: 10px;
}

.s2-direita > button:hover{
    background-color: rgb(87, 184, 87);
    opacity: 80%;
    cursor: pointer;
    transition: 0.3s;
}

.secao-03 {
    display: flex;
    flex-direction: column;
    background-color: #3E4377;
    height: 90vh;
}

.secao-03 h2 {
    text-align: center;
    font:50px verdana;
    color:white;
    margin-top: 80px;
}

.s3-produtos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.produto1 img {
    width: 260px;
    height: 310px;
    margin-top: 80px;
    border-radius: 30px;
}

.produto2 img {
    width: 260px;
    height: 330px;
    margin-top: 80px;
    border-radius: 30px;
    margin-left: 45px;
}

.secao-03 p {
    color: white;
    font:20px arial;
    text-align: center;
}

.rodape {
    display: flex;
    flex-direction: row;
    background-color: #A27E54;
    height: 50vh;
    justify-content: space-evenly;
    align-items: center;
}

.rodape h3 {
    color:white;
    margin-bottom:15px ;

}

.rodape p {
    font:15px arial black;
    text-align: baseline;
}