* {
    box-sizing: border-box;
    margin: 0px;
}

.fundo {
    height: 100vh;
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundo div {
    background-color: blue;
    height: 500px;
    width: 500px;
}