* {
    box-sizing: border-box;
    margin: 0px;
}

.fundo {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #030328;
    height: 100vh;
}

.tracinho {
    width: 3px;
    height: 12vh;
    background-color: rgba(185, 8, 246, 1);
    margin-top: 15px;
}

.bruxo {
    font:30px 'font2';
    color:#D0B36A;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-top: 35px;
}

.imagens {
    margin-top: 30px;
}

.imagens > img {
    margin: 25px;
}

.nomesamarelo {
    display: flex;
    flex-direction: row;
    color:#D0B36A;
    font:20px 'font3';
    letter-spacing: 6px;
    text-transform: uppercase;
    justify-content: space-around;
}

.nomesbranco {
    display: flex;
    flex-direction: row;
    text-align: center;
    color:white;
    font:20px 'font2';
    letter-spacing: 6px;
    text-transform: uppercase;
    justify-content: space-around;
    margin-right: 50px;
}