@font-face {
    font-family: 'font1';
    src: url("../assets/fonts/62593141a696a556dc710bf0_Ginto\ Nord\ Bold.ttf");
}
@font-face {
    font-family: 'font2';
    src: url("../assets/fonts/6286374983556efc2e78b45c_Ginto\ Bold.ttf");
}

@font-face {
    font-family: 'font3';
    src: url("../assets/fonts/638e82332d6baa9bd7e87df0_ggsans-400-normal.woff2");
}

@font-face {
    font-family: 'font4';
    src: url("../assets/fonts/638e823330d507b24a2f21e1_ggsans-500-medium.woff2");
}

@font-face {
    font-family: 'font5';
    src: url("../assets/fonts/638e8233403dad36083d1d81_ggsans-600-semibold.woff2");
}

@font-face {
    font-family: 'font6';
    src: url("../assets/fonts/e3t4euO8T-267oIAQAu6jDQyK3nRivN04w.woff2");
}

@font-face {
    font-family: 'font7';
    src: url("../assets/fonts/KFOlCnqEu92Fr1MmEU9fBBc4.woff2");
}

@font-face {
    font-family: 'font8';
    src: url("../assets/fonts/KFOmCnqEu92Fr1Mu4mxK.woff2");
}